Daily-wird.json
{
  "name": "الورد اليومي generic",
  "nodes": [
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1003856282386",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ $('Day parse').item.json.dateText }} صفحة {{ $('Pull pages').item.json.page }}\n"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1248,
        -176
      ],
      "id": "b7161229-c0d8-4253-97f2-c9d1741096aa",
      "name": "Send a photo message",
      "webhookId": "6eb85d76-6f11-4339-8990-8b95ca15a336",
      "credentials": {
        "telegramApi": {
          "id": "f27hAcK8u8erlhN3",
          "name": "الورد اليومي public"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        -176
      ],
      "id": "041a7dd0-1f31-4963-bb48-d25bae4a0a96",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Arabic weekdays\nconst arabicDays = [\n  \"الأحد\",\n  \"الإثنين\",\n  \"الثلاثاء\",\n  \"الأربعاء\",\n  \"الخميس\",\n  \"الجمعة\",\n  \"السبت\"\n];\n\n// get current day index (0 = Sunday)\nconst today = new Date();\nconst dayIndex = today.getDay(); \n\n// build string\nconst output = `ورد اليوم ${arabicDays[dayIndex]}`;\n\n// return JSON\nreturn [{ json: { dateText: output } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -176
      ],
      "id": "0b64a39b-5f1f-4139-a3f6-b97d4a37ce90",
      "name": "Day parse"
    },
    {
      "parameters": {
        "jsCode": "const totalPages = 604;\n// Explicitly reference the 'Get row(s)' node output\nconst lastPage = parseInt($node[\"Get row(s)\"].json[\"PageNumber\"] || 0);\n// 1. Get the variable from the 'Settings' node\nconst pagesToSend = $node[\"Settings\"].json.pagesToIncrement || 2; \n\nlet output = [];\nlet currentCalcPage = lastPage;\n\n// 2. Loop based on the number of pages requested\nfor (let i = 1; i <= pagesToSend; i++) {\n    currentCalcPage++;\n    \n    // Wrap around logic\n    let wrappedPage = ((currentCalcPage - 1) % totalPages) + 1;\n\n    output.push({\n        json: {\n            page: wrappedPage,\n            url: `https://raw.githubusercontent.com/QuranHub/quran-pages-images/main/easyquran.com/hafs-tajweed/${wrappedPage}.jpg`,\n            // We only need the final page number to save for tomorrow\n            newLastPage: ((lastPage + pagesToSend - 1) % totalPages) + 1\n        }\n    });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -176
      ],
      "id": "34c747df-4d30-43c2-80f1-8cc6e46997c2",
      "name": "Pull pages"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "WUjHrqCZV2yqp6AV",
          "mode": "list",
          "cachedResultName": "الورد اليومي copy",
          "cachedResultUrl": "/projects/OjIGRM7XxlrxNy9W/datatables/WUjHrqCZV2yqp6AV"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "PageNumber",
              "condition": "isNotEmpty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        16,
        -176
      ],
      "id": "9af4c06b-bf66-4acf-8195-b7b615d035c4",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "WUjHrqCZV2yqp6AV",
          "mode": "list",
          "cachedResultName": "الورد اليومي copy",
          "cachedResultUrl": "/projects/OjIGRM7XxlrxNy9W/datatables/WUjHrqCZV2yqp6AV"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "PageNumber",
              "condition": "lte",
              "keyValue": "=604"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "PageNumber": "={{ $json.newLastPage }}"
          },
          "matchingColumns": [
            "PageNumber"
          ],
          "schema": [
            {
              "id": "PageNumber",
              "displayName": "PageNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        720,
        -176
      ],
      "id": "907a9def-eaba-43fd-b5ff-c35e6ec9e1ad",
      "name": "Update row(s)",
      "executeOnce": false
    },
    {
      "parameters": {
        "url": "={{ $('Pull pages').item.json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        -176
      ],
      "id": "898bc810-577f-4ed4-9879-f4a04af10664",
      "name": "صفحات القرآن"
    },
    {
      "parameters": {
        "content": "## Before You Start\n\n**1. Create an n8n Data Table**\nCreate a native n8n table with the following:\n\n**Column**: Named PageNumber (Number type).\n**Initial Row**: Add one row that starts with 0.\n\n**2. Telegram Bot Credentials**\nAdd your Telegram chat bot credentials to n8n using the official documentation: n8n Telegram Setup Guide\n\n**3. Get Channel ID**\nAdd your bot to your target Telegram channel as an Administrator and retrieve the Channel ID.",
        "height": 384,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -960,
        -368
      ],
      "typeVersion": 1,
      "id": "f707b0a2-6d81-45b6-984b-598467d8cf9b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Schedule Trigger\n\nChange the date and time to a suitable one.\n\nNote: Defaults to daily at 8 am.",
        "height": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -528,
        -336
      ],
      "typeVersion": 1,
      "id": "a530dd91-8ed9-4ed7-a952-c2dd54358176",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9ac1dca-5333-4712-bcc9-4be63a6b3d32",
              "name": "pagesToIncrement",
              "value": 2,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -176
      ],
      "id": "529a54cc-65e2-459e-81ff-a175206c6531",
      "name": "Settings"
    },
    {
      "parameters": {
        "content": "## Number of Pages\n\nChange the number of pages you want to send everyday\n\nNote: Defaults to 2 pages daily",
        "height": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        -336
      ],
      "typeVersion": 1,
      "id": "1b1237a3-d4d5-4947-a1d4-3c8d33738855",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Telegram\n\n* Apply the created **Credentials** to the Telegram Node.\n* Paste your **Channel ID** into the Chat ID field of the Telegram Node.",
        "height": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        -384
      ],
      "typeVersion": 1,
      "id": "6622031d-e7e0-42c9-a0c3-0653dbd18d51",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-10-11T08:00:20.010+03:00",
          "Readable date": "October 11th 2025, 8:00:20 am",
          "Readable time": "8:00:20 am",
          "Day of week": "Saturday",
          "Year": "2025",
          "Month": "October",
          "Day of month": "11",
          "Hour": "08",
          "Minute": "00",
          "Second": "20",
          "Timezone": "Asia/Amman (UTC+03:00)"
        }
      }
    ],
    "Day parse": [
      {
        "json": {
          "dateText": "ورد اليوم الإثنين"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Pull pages": [
      {
        "json": {
          "page": 1,
          "url": "https://raw.githubusercontent.com/QuranHub/quran-pages-images/main/easyquran.com/hafs-tajweed/1.jpg",
          "newLastPage": 2
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "page": 2,
          "url": "https://raw.githubusercontent.com/QuranHub/quran-pages-images/main/easyquran.com/hafs-tajweed/2.jpg",
          "newLastPage": 2
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Get row(s)": [
      {
        "json": {
          "PageNumber": 0,
          "id": 1,
          "createdAt": "2026-03-23T11:59:07.496Z",
          "updatedAt": "2026-03-23T19:48:57.681Z"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Update row(s)": [
      {
        "json": {
          "PageNumber": 2,
          "id": 1,
          "createdAt": "2026-03-23T11:59:07.496Z",
          "updatedAt": "2026-03-23T20:23:28.391Z"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "PageNumber": 2,
          "id": 1,
          "createdAt": "2026-03-23T11:59:07.496Z",
          "updatedAt": "2026-03-23T20:23:28.413Z"
        },
        "pairedItem": {
          "item": 1
        }
      }
    ],
    "صفحات القرآن": [
      {
        "json": {
          "PageNumber": 2,
          "id": 1,
          "createdAt": "2026-03-23T11:59:07.496Z",
          "updatedAt": "2026-03-23T20:23:28.391Z"
        },
        "binary": {
          "data": {
            "mimeType": "image/jpeg",
            "fileType": "image",
            "fileExtension": "jpg",
            "data": "filesystem-v2",
            "directory": "https://raw.githubusercontent.com/QuranHub/quran-pages-images/main/easyquran.com/hafs-tajweed/1.jpg",
            "fileName": "1.jpg",
            "id": "filesystem-v2:workflows/sXaFrWTJK9Krsg2F/executions/2948/binary_data/e6fe6def-0013-4c07-9782-bf700b9074d9",
            "fileSize": "83.1 kB",
            "bytes": 83094
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "PageNumber": 2,
          "id": 1,
          "createdAt": "2026-03-23T11:59:07.496Z",
          "updatedAt": "2026-03-23T20:23:28.413Z"
        },
        "binary": {
          "data": {
            "mimeType": "image/jpeg",
            "fileType": "image",
            "fileExtension": "jpg",
            "data": "filesystem-v2",
            "directory": "https://raw.githubusercontent.com/QuranHub/quran-pages-images/main/easyquran.com/hafs-tajweed/2.jpg",
            "fileName": "2.jpg",
            "id": "filesystem-v2:workflows/sXaFrWTJK9Krsg2F/executions/2948/binary_data/2c3cfebf-7742-4bdd-9ef5-3fac837ad46c",
            "fileSize": "93 kB",
            "bytes": 93045
          }
        },
        "pairedItem": {
          "item": 1
        }
      }
    ],
    "Settings": [
      {
        "json": {
          "pagesToIncrement": 2
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Day parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day parse": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull pages": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "صفحات القرآن",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "صفحات القرآن": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Pull pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "ZgHNmtkmShNGNusF"
  },
  "versionId": "780e0707-1be3-45c2-83f2-24752df6dfdb",
  "meta": {
    "instanceId": "a9dd966390709523d0b4375034c8d3b1321332f224d57753c4f4e7e5856e81bb"
  },
  "id": "sXaFrWTJK9Krsg2F",
  "tags": []
}